hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;

	margin-top: 5px;
	margin-bottom: 5px;
}

.page_box {
	background-color: #e7e7e7;
	border-radius: 20px;
	width: 50%;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:auto;
}

.editor_main_container {
  min-height: 100%;
  height: auto;
  position: relative;
}